body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

header {
    background-color: #000;
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
}   

nav ul {
    list-style: none;
    padding: 0;
}
/* aqui estou definindo que o meu nav ira ficar  lado a lado, antes estava um sobre o outro, tomando muito espaço no site */
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: color 1s ease;
    border-bottom: 0.1rem solid;
    font-size: 1.5rem;
}

section {
    padding: 20px;
    text-align: center;
    
}

.servico {
    margin: 20px 0;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servico:hover {
    background-color: #f4a261;
    color:white;
}

.box:hover {
    background-color: #f4a261;
    color:white;
}
/* nesse bloco abaixo ja consegui deixar o menu dos serviços premium mais organizado, agora irei trabalhar os estilos e adicionar efeitos */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    padding: 5rem;
    cursor: pointer;
    border-radius: 20px;
}

.menu .box-container .box h3 {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.menu .box-container .box .preco {
    color: #ffffff;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .preco span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
    color: red;
}
/* estilização dos comentários */
.avaliacao .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.avaliacao .box-container .box {
    flex: 1 1 calc(33.333% - 1.5rem);
    max-width: calc(33.333% - 1.5rem);
    border: 0.1rem solid;
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.avaliacao .box-container .box p {
    font-size: 1.5rem;
    color: black;
    padding: 2rem 0;
    line-height: 1.8;
    max-width: 500px;
    text-align: center;

}

.avaliacao .box-container .box h3 {
    color: black;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.avaliacao .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.avaliacao .box-container .box .card {
    height: 50px;
    max-width: 100%;
}

/* estilizando o rodapé das redes sociais */
.social .redes-sociais {
    padding: 1rem 0;
    color: #000;
}

.social .redes-sociais img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;

}

.social .redes-sociais img:hover {
    background-color: red;
}